.policy-bg {
  width: 100%;
  height: 25vh;
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05)),
    url(../images/car3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.policy-box {
  font: Source Sans Pro;
  background: #fff;
  border-radius: 15px;
  width: 1000px;
  min-height: 200px;
  margin-top: 50px;
}

.search-btn {
  font: Source Sans Pro;
  background: #171717;
  border-radius: 4px;
  border-color: #171717;
  color: white;
  width: 250px;
  height: 60px;
}
